*{
    margin: 0;
    padding:0;
}
body{
    background-color: red;
    overflow: hidden;
}
.gameContainer{
    background-image:url('cosmos-5809271_1920.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino{
    background-image: url(spaceship-309153_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 224px;
    height: 107px;
    position: absolute;
    bottom: 0;
    left: 52px;
}
.gameOver span{
    color: rgb(240, 45, 191);
    background-color: rgb(123, 230, 123);
    border: 2px solid black;
    border-radius: 20px;
    font-family: 'Goblin One', cursive;
    width:24px; ;
}

.obstacle{
    width: 170px;
    height: 152px;
    background-image: url(monster-1741535_1920.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}

.animateDino{
    animation: dino 1.5s linear;
}

.obstacleAni{
    animation: obstacleAni 4s linear infinite;
}

.gameOver{
    color: #f44336;
    justify-content: center;
    text-align: center;
    width: 480px;
    display: inline-block;
    background-color: #e798e8;
    position: absolute;
    left: 384px;
    border: 2px solid black;
    border-radius: 20px;
    top:63px;
    font-size: 25px;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
}

#scoreCont{
    font-size: 25px;
    color: #fb0909;
    background-color: #4fc3f7;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    border-radius: 200px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

/* @keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0; 
    }
} */
@keyframes dino{
    0%{
        bottom: 0;
    }
    35%{
        bottom: 422px;
    }
    70%{
        bottom: 225px;
    }
    90%{
        bottom: 180px;
    }
    100%{
        bottom: 0; 
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}